div,a{
    font-size: 10px;
    margin: 0;
    padding: 0;
    color: #ffa73a;
}
header{
    display: flex;
    background-color: black;
    position: fixed;
    width: 100%;
}
header div{
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 5%;
}
header div section{
    width: 100%;
    height: 100%;
    max-height: 60px;
    background-color: #ff0000;
}
header div img{
    height: auto;
    max-height: 110px;
}
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
header nav a{
    font-size: min(3vw, 35px);
    margin-right: 5%;
}
main{
    height: 1500px;
    background-image: linear-gradient(#facc22, #f83600);
}