div,a{
    font-size: 10px;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, red, yellow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
header{
    display: flex;
    background-color: black;
    position: fixed;
    width: 100%;
}
header div{
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 5%;
}
header div section{
    width: 100%;
    height: 100%;
    max-height: 60px;
    background-color: #ff0000;
}
header div img{
    height: auto;
    max-height: 110px;
}
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    transition: all;
    cursor: pointer;
}
header nav a{
    font-size: min(3vw, 35px);
    margin-right: 5%;
    transition: all 0.5s;
}
#a-1:hover,#a-2:hover,#a-3:hover,#a-4:hover{
    transform: scale(1.25);
    color: black;
    filter: drop-shadow(0px 0 15px 15px rgba(255, 255, 255));
}
main{
    height: 1500px;
    background-image: linear-gradient(#facc22, #f83600);
}
/* @media(max-width : 900px) {
    body{
        background-color: green;
    }
} */