div{
    display: flex;
}
header{
    display: flex;
    background-color: black;
    position: fixed;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
header div{
    display: flex;
    width: 90%;
    justify-content: center;
    padding-left: 10%;
}
header div img{
    width: auto;
    max-width: 100%;
}
header section{
    width: 10%;
    color: rgb(255, 255, 255);
    font-size: 2em;
}
@media(max-width: 450px) {
    header section{
        font-size: 1.5em;
    }
}
nav{
    display: flex;
}
#under-fixed{
    position: relative;
    z-index: -1;
}
nav{
    display: none;
    position: fixed;
    width: 100%;
    height: 280px;
    align-items: center;
    justify-content: center;
    padding-right: 3%;
    background-color: #000000;
    animation: fadeOut 1s;
}
nav.aparecer{
    animation: fadeIn 1s;
    display: flex;
}
nav ul{
    list-style-type: none;
    line-height: 60px;
    font-size: 1.8em;
    text-align: center;
}
nav ul a{
    text-decoration: none;
    background-image: linear-gradient(to bottom right, red, yellow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main{
    height: 1500px;
    background-image: linear-gradient(#facc22, #f83600);
}
button{
    cursor: pointer;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}