div,a{
    font-size: 10px;
    margin: 0;
    padding: 0;
    color: #ffa73a;
}
header{
    display: flex;
    background-color: black;
}
header div{
    width: 40%;
    display: flex;
    align-items: center;
    padding-left: 10%;
}
header div section{
    width: 100%;
    height: 100%;
    max-height: 60px;
    max-width: 95%;
    background-color: #ff0000;
}
header div img{
    height: auto;
    max-height: 110px;
}
header nav{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 60%;
}
header nav a{
    font-size: min(3vw, 35px);
    margin-right: 5%;
    border: 1px solid red;
}