main{
    width: 100%;
    background-image: linear-gradient(to top, rgb(255, 51, 0), rgb(255, 196, 0));
}
.desktop, .mobile{
    width: 100%;
}
@media (min-width: 800px) {
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
    }
    a{
        font-size: 10px;
        margin: 0;
        padding: 0;
        background-image: linear-gradient(to bottom right, red, yellow);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    header{
        display: flex;
        background-color: black;
        position: fixed;
        z-index: 10;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    header div{
        width: 30%;
        display: flex;
        align-items: center;
        padding-left: 5%;
    }
    header div section{
        width: 100%;
        height: 100%;
        max-height: 60px;
        background-color: #ff0000;
    }
    header div img{
        height: auto;
        max-height: 110px;
    }
    header nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        transition: all;
        cursor: pointer;
    }
    header nav a{
        font-size: min(3vw, 35px);
        margin-right: 5%;
        transition: all 0.5s ease;
    }
    #a-1:hover,#a-2:hover,#a-3:hover,#a-4:hover{
        transform: scale(1.25);
        color: black;
        filter: drop-shadow(0px 0 15px 15px rgba(255, 255, 255));
    }
    .under-fixed{
        position: relative;
        z-index: -1;
    }
    @media(max-width: 1400px){
        header nav a{
            font-size: min(3vw,40px);
        }
    }
    .contato-form{
        display: block;
        width: 50%;
        margin-left: 25%;
        height: auto;
        padding: 15px 0 15px 1.25%;
        border-left: 3px dotted rgb(0, 0, 0);
        border-right: 3px dotted rgb(0, 0, 0);
        border: 3px dotted rgb(0, 0, 0);
    }
    .contato-form label{
        font-size: 25px;
        margin-right: 15px;
    }
    .contato-form input{
        width: calc(97.5%);
        padding: 0;
        margin-bottom: 45px;
    }
    .contato-form input[type=radio]{
        width: 5%;
        size: 35px;
    }
    textarea{
        width: 97.5%;
        margin-bottom: 10px;
    }
    main.contato{
        height: 950px;
        padding-top: 70px;
    }
    .estrelas{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: none;
        justify-content: space-around;
    }
    .estrelas label{
        width: auto;
        font-size: 1em;
        margin-bottom: 20px;
    }
    .estrelas input[type=radio] {
        display: none;
    }
    .estrelas label i.fa{
        font-size: 2.5em;
        cursor: pointer;
    }
    .estrelas label i.fa:before {
        content:'\f005';
        color: #FC0;
    }
    .estrelas input[type=radio]:checked ~ label i.fa:before {
        color: #CCC;
    }
    .contato-form input[type=submit]{
        width: 50%;
        margin: 10px 0 0 24.375%;;
        border-radius: 15px;
        border: 0;
    }
}


@media(max-width:799px){
    body{
        padding: 0;
        margin: 0;
    }
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
    div{
        display: flex;
    }
    header{
        display: flex;
        background-color: black;
        position: fixed;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    header div{
        display: flex;
        width: 90%;
        justify-content: center;
        padding-left: 10%;
    }
    header div img{
        width: auto;
        max-width: 100%;
    }
    header section{
        width: 10%;
        color: rgb(255, 255, 255);
        font-size: 2em;
    }
    @media(max-width: 450px) {
        header section{
            font-size: 1.5em;
        }
    }
    nav{
        display: flex;
    }
    .under-fixed{
        position: relative;
        z-index: -1;
    }
    nav{
        display: flex;
        position: fixed;
        visibility: hidden;
        width: 100%;
        height: 280px;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.825);
    }
    nav.aparecer{
        visibility: visible;
        opacity: 1;
        transition: visibility 1s linear 0s, opacity 1s;
    }
    nav.desaparecer{
        visibility: hidden;
        opacity: 0;
        transition: visibility 1s linear 0s, opacity .5s;
    }
    nav.pre-aparecer{
        visibility: hidden;
        opacity: 0;
        transition: none;
    }
    nav ul{
        list-style-type: none;
        line-height: 60px;
        font-size: clamp(20px,30px,40px);
        text-align: center;
        margin-right: 3%;
    }
    nav ul a{
        text-decoration: none;
        background-image: linear-gradient(to bottom right, red, yellow);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}